In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
test_df=pd.read_csv("test.csv", usecols=["Id", "GrLivArea", "BedroomAbvGr", "FullBath"])

In [3]:
test_df

        Id  GrLivArea  FullBath  BedroomAbvGr
0     1461        896         1             2
1     1462       1329         1             3
2     1463       1629         2             3
3     1464       1604         2             3
4     1465       1280         2             2
...    ...        ...       ...           ...
1454  2915       1092         1             3
1455  2916       1092         1             3
1456  2917       1224         1             4
1457  2918        970         1             3
1458  2919       2000         2             3

[1459 rows x 4 columns]

In [4]:
LR_pipe = pickle.load(open('price_prediction_model.pkl','rb'))

In [5]:
test_output=LR_pipe.predict(test_df)
test_output

array([122210.89370902, 142369.6027173 , 201867.42076588, ...,
       102521.20639882, 105204.89162904, 240274.40631949], shape=(1459,))

In [6]:
test_output = pd.DataFrame(test_output, columns=["SalePrice"])

test_output['Id']=test_df["Id"].values

test_output = test_output[["Id", "SalePrice"]]

In [7]:
test_output

        Id      SalePrice
0     1461  122210.893709
1     1462  142369.602717
2     1463  201867.420766
3     1464  199279.348963
4     1465  190404.633015
...    ...            ...
1454  2915  117834.682027
1455  2916  117834.682027
1456  2917  102521.206399
1457  2918  105204.891629
1458  2919  240274.406319

[1459 rows x 2 columns]

In [8]:
test_output.to_csv("test_output.csv", index=False)