In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
test_df=pd.read_csv("test.csv")

In [3]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
LR_pipe = pickle.load(open('price_prediction_model.pkl','rb'))

In [5]:
test_output=LR_pipe.predict(test_df)
test_output

array([122210.89370902, 142369.6027173 , 201867.42076588, ...,
       102521.20639882, 105204.89162904, 240274.40631949], shape=(1459,))

In [6]:
test_output = pd.DataFrame(test_output, columns=["SalePrice"])

test_output['Id']=test_df["Id"].values

test_output = test_output[["Id", "SalePrice"]]

In [7]:
test_output

        Id      SalePrice
0     1461  122210.893709
1     1462  142369.602717
2     1463  201867.420766
3     1464  199279.348963
4     1465  190404.633015
...    ...            ...
1454  2915  117834.682027
1455  2916  117834.682027
1456  2917  102521.206399
1457  2918  105204.891629
1458  2919  240274.406319

[1459 rows x 2 columns]

In [8]:
test_output.to_csv("test_output.csv", index=False)